.Name {
    color: black;
    z-index: 1;
    font-size: 50px;
}

.dropbtn {
    background-color: transparent;
    opacity: 1;
    color: white;
    padding: 10px;
    font-size: 2em;
    border: none;
    margin-left: 0.8em;
}

.background {
    background-color: rgba(10, 9, 9, 0.918);
    min-height: 120vh;
    width: 75%;
    margin: 0 auto;
}

@media only screen and (max-width: 830px) {
    .Name {
        font-size: 25px;
        padding: 0px;
        margin: 0px;

    }
}

@media only screen and (max-width: 750px) {
    .Top, th {
        display: none;
        margin: 0px;
        padding: 0px;
        background-color: black;
    }
    .span {
        color: transparent;
    }
    .Heatmap {
        width: 100%;
        background-color: black;
    }
    td {
        height: 50%;
        color: transparent;
        width: 100%;
    }
}

@media only screen and (max-width: 625px) {
    .Top {
        display: none;
    }
    .Heatmap {
        width: 100%;
    }
    td {
        font-size: x-small;
        height: 10em;
    }
}

.infoSpan {
    color: white;
    font-weight: bold;
}

.info {
    display: flexbox;
    width: 100%;
    text-align: center;
    color: grey;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 130px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
    font-size: 0.8em;
}

.dropdown-content a:hover {
    background-color: grey;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: transparent;
    color: grey;
}

.weightless {
    margin: 0;
    padding: 0;
}

#root {
    background-color: black;
}

.image {
    height: 5em;
    width: 5em;
    margin-right: 1em;
}

.Heatmap {
    background-color: #2e2e2e;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    margin: 5em auto;
}

.Hourslot {
    background-color: black;
    height: 5px;
    width: 12px;
    text-align: center;
    color: transparent;
}

.LowHeat {
    background-color: rgba(255, 0, 0, 0.4);
    height: 5px;
    width: 12px;
    text-align: center;
    padding-top: 2px;
}

.Hot {
    background-color: rgba(255, 0, 0, 0.8);
    height: 5px;
    width: 12px;
    text-align: center;
    padding-top: 2px;
}

.SuperHot {
    background-color: rgba(255, 0, 0, 1);
    height: 5px;
    width: 12px;
    text-align: center;
    padding-top: 2px;
}

.WhiteHot {
    background-color: white;
    height: 5px;
    width: 12px;
    text-align: center;
    padding-top: 2px;
    color: black;
}

.Top {
    color: grey;
    text-align: center;
    font-weight: bold;
}
