.subsystem_title {
    margin-bottom: 0rem;
    font-size: 1rem;
}

.page-title {
    font-size: 1.25rem;
    font-weight: 400;
}

.navbar-brand {
    font-weight: 500;
}

#footer_row {
    margin-bottom: 0;
}

.align-items-center {
    margin-bottom: 0;
}

.page-title {
    margin-top: 0.5rem;
}

.search-container {
    width: 100%;
}

.search-container .form-control {
    padding-right: 2.5rem;
    /* Ensure there's enough space for the icon */
}

button:focus,
button:active,
button.focus,
button.active {
  outline: none !important;
  box-shadow: none !important;
  background-color: #212529 !important;
  border: none !important;
}

.MuiTablePagination-root {
    display: none !important;
}


.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    color: rgba(0, 0, 0, 0.6) !important;
}

.css-rb5gc9-MuiFormLabel-root-MuiInputLabel-root {
    color: rgba(0, 0, 0, 0.6) !important;
}

.search-container .search-icon {
    right: 10px;
    /* Adjust the value to place the icon properly */
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    /* Ensure the icon does not block input clicks */
    /* color: rgba(33, 37, 41, 0.741); */
    /* Adjust the color as needed */
}

.css-s1n7v5-MuiTablePagination-root {
    display: none;
}

.card {
    margin-bottom: 1.5rem;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.navbar {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.card.bg-dark {
    background: rgb(55, 64, 74) !important;
}

.home-heading {
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
}

.header-row h5 {
    flex: 1;
    text-align: center;
}

.home-table.row {
    margin-bottom: 0;
}

.home-table>div>div.card {
    margin-bottom: 0;
}

body {
    background: #fafbfb;
}

.card-header>.header-title {
    margin-bottom: 0;
}

#subsystem-analysis-title {
    margin: 1.25rem 0rem;
    font-weight: 300;
}

.d-flex>h4.header-title {
    padding: 6px;
}

.im_building_it {
    width: 30%;
}

@media screen and (max-width: 900px) {
    .im_building_it {
        width: 100%;
    }
}

.working_on_it {
    margin: 0;
    width: 100%;
}
/* 
#search-box {
    background: "white";
} */

* {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.clickable_tr {
    cursor: pointer;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}